{% extends 'base.html' %}
{% load static %}
{% block content %}

	<body dir="rtl">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col col-8 ">
					<div class="card my-5">
						<img src="{% static "img/logo-new.png" %}" class="card-img-top" alt="logo" style="width:50px; margin: auto; margin-top:5px;">
						<div class="card-body text-center">
							<h5 class="card-title my-3"> سیستم سازماندهی دانشجویان متقاضی خوابگاه</h5>
							<h6 class="card-subtitle mb-3 text-muted ">هر آنچه درباره سیستم ما باید بدانید</h6>
							<p class="card-text">


								این سامانه یک سایت تخصیص خوابگاه برای دانشجویان بر اساس تیپ شخصیتی افراد است. در این
								سامانه تلاش شده است تا افرادی که تیپ شخصیتی و سبک زندگی مشابه دارند در یک
								اتاق قرار بگیرند.
								در این وب سایت افرادی که نام انها در لیست افراد واجد شرایط دریافت اتاق در خوابگاه قرار دارد میتوانند با استفاده از کد ملی و شماره دانشجویی خود وارد سایت شوند و با
								انجام دادن تست شخصیت، هم اتاقی های خود را پیدا کند. همچنین این امکان وجود دارد که اگر
								افراد تایپ شخصیتی خود را می‌دانند، می‌توانند بدون انجام دادن آزمون، آن را ثبت کنند.
								یکی از مهم ترین اصولی که هنگام پاسخ‌گویی به سوالات باید در نظر گرفته شود،
							<b>	
								پاسخ‌گویی
								صادقانه
							</b>
								به سوالات است زیرا اگر نتیجه تیپ شخصیتی افراد، درست سنجیده نشود ممکن است با
								افرادی هم اتاق شوند که سبک زندگی متفاوتی دارند و شرایط زندگی برای همه افراد اتاق پر تنش و سخت می‌شود.
								سامانه ما تمام تلاش خود را کرده است تا شرایط زندگی برای دانشجو های عزیز را راحت تر
								سازد.

							</p>

						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<blockquote class="blockquote mb-0 text-center">
								<p>نظرات و انتقادات خود را در مورد سامانه سازماندهی دانشجویان متقاضی خوابگاه با ما در
									میان بگذارید.</p>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-envelope" viewBox="0 0 16 16">
									<path
										d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
								</svg><span class="text-muted mx-2">ایمیل ما </span> <span>admin@semnan.ac.ir</span>
							</blockquote>
						</div>
					</div>
				</div>
			</div>

			<div style="text-align: center; margin-top:10px; margin-bottom: 10px;">
				<button onclick="history.back()" type="button" class="btn btn-primary" data-bs-toggle="button" aria-pressed="false" autocomplete="off">بازگشت به صفحه قبل  </button>
			</div>

		</div>

		<!-- <script src="script.js"></script> -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
			crossorigin="anonymous"></script>
	</body>

	{% endblock %}