{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class=" justify-content-center col  d-flex">
			<div class="col-8 justify-content-center ">

				<form method="POST" action="../process-user-lifestyle/">
					{% csrf_token %}
					<div class="form-check p-5 border border-5">
						<h4>1 .شما نسبت به سیگار کشیدن هم اتاقیتان چه نظری دارید؟
						</h4>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="cigaretteStatus" id="option1" value="opt1">
							<label class="form-check-label" for="option1">
							سیگاری هستم و مشکلی ندارم.
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="cigaretteStatus" id="option2" value="opt2">
							<label class="form-check-label" for="option2">
							سیگاری نیستم ولی با دود سیگار مشکلی ندارم.
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="cigaretteStatus" id="option3" value="opt3">
							<label class="form-check-label" for="option3">
							سیگاری نیستم و به شدت با دود سیگار مشکل دارم.
							</label>
						</div>
					</div>
				
					<div class="form-check p-5 border border-5 ">
						<h4>
							2 .از نظر شما نظم و مرتب بودن اتاق به چه میزان اهمیت دارد؟ 
						</h4>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="tidynessStatus" id="option1" value="opt1">
							<label class="form-check-label" for="option1">
							آدم منظمی هستم و مرتب بودن اتاق بسیار زیاد برایم اهمیت جدی دارد. 
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="tidynessStatus" id="option2" value="opt2">
							<label class="form-check-label" for="option2">
							 نظم اتاق نسبتا برایم مهم است. 
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="tidynessStatus" id="option3" value="opt3">
							<label class="form-check-label" for="option3">
							بنظرم به هم ریختگی اتاق مشکل جدی نیست. 
							</label>
						</div>
					</div>		
					
					<div class="form-check p-5 border border-5">
						<h4>3 .شما چه ساعتی در شب می خوابید؟
						</h4>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="bedTime" id="option1" value="opt1">
							<label class="form-check-label" for="option1">
							قبل از ساعت 12.
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="bedTime" id="option2" value="opt2">
							<label class="form-check-label" for="option2">
							 قبل از ساعت .
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="bedTime" id="option3" value="opt3">
							<label class="form-check-label" for="option3">
							ساعت مشخصی برای خواب ندارم .
							</label>
						</div>
					</div>

					<div class="d-flex justify-content-center my-5">
						<button type="submit" class="btn btn-primary float-end px-5 "> ثبت </button>
					</div>
				</form>

			</div>	  
		</div>
	</div>

{% endblock %}
