{% extends 'base.html' %}

{% block content %}

 <body>
 
	<body dir="rtl">
		<div class="container">
		  <div class=" justify-content-center col  d-flex">
		   <div class="col-8 justify-content-center ">
			<div class="form-check p-5 border border-5">
			  <h4>1 .شما نسبت به سیگار کشیدن هم اتاقیتان چه نظری دارید؟
			  </h4>
			  <div class="form-check">
				<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
				<label class="form-check-label" for="flexRadioDefault1">
				  a .سیگاری هستم و مشکلی ندارم.
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
				<label class="form-check-label" for="flexRadioDefault2">
				  b .سیگاری نیستم ولی با دود سیگار مشکلی ندارم.
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
				<label class="form-check-label" for="flexRadioDefault2">
				  c .سیگاری نیستم و به شدت با دود سیگار مشکل دارم.
				</label>
			  </div>
			</div>
	  
			<div class="form-check p-5 border border-5 ">
			  <h4>
				2 .از نظر شما نظم و مرتب بودن اتاق به چه میزان اهمیت دارد؟ 
			  </h4>
			  <div class="form-check">
				<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
				<label class="form-check-label" for="flexRadioDefault1">
				  a .آدم منظمی هستم و مرتب بودن اتاق بسیار برایم مهم است. 
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
				<label class="form-check-label" for="flexRadioDefault2">
				  b .بنظرم کمی به هم ریختگی طبیعی است و ایرادی ندارد. 
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
				<label class="form-check-label" for="flexRadioDefault2">
				  c .آدم نامنظمی هستم و مرتب بودن اتاق برایم چندان اهمیتی ندارد. 
				</label>
			  </div>
			</div>
	  
			<div class="form-check p-5 border border-5">
			  <h4>
				2 .از نظر شما نظم و مرتب بودن اتاق به چه میزان اهمیت دارد؟ 
			  </h4>
			  <div class="form-check">
				<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
				<label class="form-check-label" for="flexRadioDefault1">
				  a .آدم منظمی هستم و مرتب بودن اتاق بسیار برایم مهم است. 
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
				<label class="form-check-label" for="flexRadioDefault2">
				  b .بنظرم کمی به هم ریختگی طبیعی است و ایرادی ندارد. 
				</label>
			  </div>
			  <div class="form-check">
				<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
				<label class="form-check-label" for="flexRadioDefault2">
				  c .آدم نامنظمی هستم و مرتب بودن اتاق برایم چندان اهمیتی ندارد. 
				</label>
			  </div>
			</div>
			  <button type="submit" class="btn btn-primary float-end ">ثبت</button>
		   </div>
		  </div>
	  
	  
	  
	  
	  
		</div>
		<script src="script.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		  crossorigin="anonymous"></script>
	  </body>	
 </body>

{% endblock %}