{% extends 'base.html' %}

{% block content %}

      <div class="container mt-5 ">
        <h3 class="mb-5"> هر آنچه در مورد خوابگاه فرهیختگان باید بدانید:</h3>
        <p class="mytext mb-5">
            مجتمع فرهیختگان قدیمی ترین مجتمع سرای دانشجویی برادران دانشگاه سمنان است که جنب بانک تجارت دانشگاه در پردیس شماره 1 دانشگاه قرار دارد. این مجتمع شامل هفت ساختمان (فرهیختگان۱، فرهیختگان2، فرهیختگان3، فرهیختگان4، فرهیختگان5، فرهیختگان6 و  فرهیختگان7 ) ، یک زمین والیبال ساحلی، یک زمین فوتبال ساحلی، دو زمین چمن مصنوعی، جاده تندرستی، سالن بدنسازی، سالن تلویزیون، حسینیه، سایت رایانه و... است.

            ساختمان های فرهیختگان ۱ در سال ۱۳78 و فرهیختگان 2، 3، 4، 5 و 6 در سال ۱۳63 و ساختمان فرهیختگان 7 در سال ۱۳88 احداث شده اند. لازم به ذکر است این مجتمع به شبکه اینترنت بی سیم (وایرلس) متصل و کلیه اتاق های دانشجویان مجهز به یک دستگاه یخچال جداگانه است.

 
            آدرس: پردیس شماره 1 دانشگاه- جنب بانک تجارت شعبه دانشگاه سمنان-  مجتمع سرای دانشجویی فرهیختگان، کدپستی: 19111-35131
        </p>
                    <img src="img/sem dorm 1.jpeg.crdownload" alt="" srcset="" class="img-fluid dormpic">
        <p class="mytext">
            ساختمان فرهیختگان۱
          
             در سال 1378با مساحت زیربنایی 4000 متر مربع در ۴ طبقه در ضلع شمالی مجموعه سرای دانشجویی فرهیختگان احداث گردیده است. ظرفیت هر اتاق 6 نفر و ظرفیت کل این ساختمان 442 نفر است.
          
             در طبقه اول این بلوک؛ سرپرستی،آشپزخانه در راهروی شرقی، سرویس های بهداشتی در انتهای راهرو غربی و در سایر طبقات آشپزخانه  و سرویس های بهداشتی در وسط راهرو قرار گرفته است.
          
             بسیج دانشجویی در طبقه اول، اتاق 107 و دفتر نمایندگی نهاد رهبری در طبقه اول این ساختمان، اتاق 121، انجمن اسلامی دانشجویان در طبقه دوم، اتاق 132 ، دفتر شورای صنفی دانشجویان در طبقه دوم این ساختمان، اتاق 140 می باشد.
          
           
          
          ساختمان فرهیختگان 2، 3، 4 و 5
          
          در سال 1363با مساحت زیربنایی 4000 متر مربع در 2 طبقه در مرکز مجموعه سرای دانشجویی فرهیختگان احداث گردیده است. ظرفیت هر اتاق 4 الی 6 نفر و ظرفیت کل این ساختمان  356 نفر است.
          
          و در هر طبقه آشپزخانه، سرویس های بهداشتی و حمام قرار دارد و شعبه مشاوره دانشجویی در طبقه اول ساختمان فرهیختگان 2، اتاق 210  می باشد.
          ساختمان فرهیختگان 6

در سال 1363با مساحت زیربنایی 950 متر مربع در یک طبقه در ضلع جنوب شرقی مجموعه سرای دانشجویی خوابگاهی فرهیختگان احداث گردیده است. ظرفیت هر اتاق 8 نفر و ظرفیت کل این ساختمان 136 نفر است.
ساختمان فرهیختگان 7

در سال 1388با مساحت زیربنایی 3000 متر مربع در ۴ طبقه در ضلع شمالی مجموعه سرای دانشجویی خوابگاهی فرهیختگان احداث گردیده است. ظرفیت هر اتاق 4 الی 6 نفر و ظرفیت کل این ساختمان 316 نفر است.
در هر طبقه آشپزخانه در ابتدای راهرو، سرویس های بهداشتی و حمام در انتهای راهرو (ضلع شرقی و غربی) قرار گرفته است و سالن مطالعه و سایت کامپیوتر در طبقه اول این ساختمان می باشد.
        </p>

      </div>

{% endblock %}