{%extends 'base.html' %}
{% load static %}
{% block content %}

      <div class="container mt-5 ">
        <h3 class="mb-5"> هر آنچه در مورد خوابگاه فرزانگان باید بدانید:</h3>
        <p class="mytext mb-5">

            مجتمع فرزانگان بزرگترین مجتمع سرای دانشجویی خواهران دانشگاه سمنان است که روبروی درب شرقی پردیس شماره 1 دانشگاه قرار دارد. این مجتمع شامل سه ساختمان (فرزانگان۱، فرزانگان2 و فرزانگان3 ) ، یک سالن ورزشی، زمین چمن مصنوعی، پیست دوچرخه سواری، کتابخانه، نمازخانه، سایت رایانه و... است.

            ساختمان های فرزانگان ۱ در سال 1378 و فرزانگان ۲ در سال 1383 و ساختمان فرزانگان 3 در سال 1388 احداث شده اند. لازم به ذکر است این مجتمع به شبکه اینترنت بی سیم (وایرلس) متصل و کلیه اتاق های دانشجویان مجهز به یک دستگاه یخچال جداگانه است.
 
            آدرس: پردیس شماره 1 دانشگاه- جنب درب شرقی-  مجتمع سرای دانشجویی فرزانگان، کدپستی: 19111-35131

        </p>
                    <img src="{% static "img/semdorm1.jpg" %}" alt="فرزانگان" srcset="" class="img-fluid dormpic">
        <p class="mytext">
            ساختمان فرزانگان ۱:

            در سال 1378 بامساحت زیربنایی 3000 متر مربع در ۴ طبقه در ضلع شرقی مجموعه سرای دانشجویی فرزانگان احداث گردیده است. ظرفیت هر اتاق 6 نفر و ظرفیت کل این ساختمان ۳40 نفر است. در هر طبقه آشپزخانه در ابتدای راهرو، سرویس های بهداشتی و حمام در انتهای راهرو (ضلع شرقی و غربی) و سالن مطالعه در طبقه همکف و دفتر نمایندگی نهاد رهبری در طبقه سوم این ساختمان، اتاق 733 قرار گرفته است.
            
             
            
            ساختمان فرزانگان 2:
            
            در سال 1383 با مساحت زیربنایی 3080 متر مربع در ۴ طبقه در ضلع شرقی مجموعه سرای دانشجویی فرزانگان احداث گردیده است. ظرفیت هر اتاق 4 الی 6 نفر و ظرفیت کل این ساختمان 288 نفر است. در هر طبقه آشپزخانه در ابتدای راهرو، سرویس های بهداشتی و حمام در انتهای راهرو (ضلع شرقی و غربی) و در طبقه همکف سالن مطالعه قرار دارد.
            
             
            ساختمان فرزانگان 3:
            
            در سال 1388 بامساحت زیربنایی 3750 متر مربع در ۴ طبقه در ضلع غربی مجموعه سرای دانشجویی خوابگاهی فرزانگان احداث گردیده است. ظرفیت هر اتاق 6 الی 8 نفر و ظرفیت کل این ساختمان 406 نفر است. در هرطبقه، سرویس بهداشتی وآشپزخانه در قسمت میانی راهرو قرار دارد و سالن مطالعه در طبقه همکف بلوک لادن، دفتر شورای صنفی دانشجویان در طبقه دوم بلوک شقایق، اتاق 322  و بسیج دانشجویی در طبقه اول بلوک یاس، اتاق 122 قرار گرفته است.   
        </p>

        <button style="margin: 10px;" onclick="history.back()" type="button" class="btn btn-primary" data-bs-toggle="button" aria-pressed="false" autocomplete="off">بازگشت به صفحه قبل  </button>
      
      </div>

{% endblock %}