{% extends 'base.html' %}

{% block content %}

   <div class="container mt-5 ">
    <div class="mt-5 desctext">
      <h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle"
          viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
          <path
            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
        </svg>
        هر آنچه در مورد سامانه ما باید بدانید:
      </h1><br>
      <p>
        سیستم سازماندهی دانشجویان متقاضی خوابگاه در نظر دارد برای بهبود کیفیت زندگی دانشجویان خوابگاه های دانشگاه سمنان،
        شرایطی را برای هم اتاق شدن دانشجویانی که سبک زندگی و تیپ شخصیتی نزدیک به هم دارند فراهم کند. این کار باعث کاهش
        تنش و درگیری در اتاق ها و کمک به ایجاد تجربه یک دوره مسالمت آمیز بین دانشجویان ساکن یک اتاق
        میگردد.
        در این سیستم دانشجویان با پاسخ به تعدادی سوال سبک زندگی و تیپ شخصیت، اطلاعات مورد نیاز جهت پردازش سیستم را فراهم
        کرده و سیستم بر اساس اطلاعات جمع آوری شده از دانشجویان سعی در دسته بندی شخصیت های نزدیک به هم دارد.
        آزمون تیپ شخصیت متشکل از تعدادی سوالات استاندارد است و بررسی آنها توسط الگوریتم های خاص انجام می گیرد. این آزمون به
        یکی از دو صورت زیر قابل انجام است: </p>
      <p>
        <h2 style="color: blue;">آزمون معتبر MBTI( Recommended : )</h2>
        یک آزمون کامل و جامع که در آن برون گرا یا درون گرا بودن، شهودی یا حسی بوده، ادراکی یا قضاوتی بودن و در
        انجام آن معمولا در ۱۰ دقیقه نهایت احساسی یا منطقی بودن افراد مشخص میگردد. 
        حدود
        طول می کشد. هیچ جواب درست یا غلطی در این آزمون وجود ندارد.
      <h2 style="color: blue;">آزمون سامانه:</h2>
        <p>
        آزمونی مختصر با تعداد سؤالات کمتر مختص افرادی که تمایل به گذراندن یک آزمون شخصیتی کامل و جامع مانند
        MBTI را ندارند.</p>
      <p>
        دانشجویان میتوانند با انتخاب هر یک از دو مورد بالا روند سازماندهی خود را تکمیل کنند. پس از اتمام مهلت شرکت در ازمون تیپ شخصیت، سامانه کار تخصیص اتاق به دانشجوبان را اغاز  کرده و نتیجه کار سامانه از طریق ادرس ایمیل دریافتی در صفحه ابتدایی سایت، به دانشجویان اعلام میگردد.
  
        همچنین امکان 
        <u><b>درخواست اتاق مشترک</b></u>
        برای دانشجویانی که تقاضای هم اتاق شدن با دوستان خود را دارند وجود دارد. بدین
        ترتیب
        افرادی که نسبت به هم شناخت دارند می توانند با ثبت درخواست اتاق مشترک در سامانه به این هدف برسند.      </p>
        این کار به این صورت انجام میشود که یکی از اعضای گروه متقاضی اتاق مشترک با ورود به سامانه کدی را دریافت میکند و ان را با دوستان خود که تمایل به هم اتاق شدن با انها را دارد به اشتراک می گذارد.
        سپس این افراد با ورود به سامانه و رفتن به بخش درخواست اتاق مشترک، کدی را که از دوست خود دریافت کرده اند وارد کرده و بدین ترتیب تقاضای هم اتاق شدن با ان شخص را ثبت میکنند.
        سامانه
        <u>تا حد امکان</u>
        سعی میکند افرادی که با ثبت کد مشترک در پایگاه داده سامانه تقاضای هم اتاق شدن با هم را کرده اند، در یک اتاق قرار دهد. 

    </div>
    <hr>


    <div class="d-flex justify-content-center">
      <div class="card text-start col-6 text-center mb-5">
        <div class="form-check p-4">

          <input type="checkbox" id="checkme" />
          <label class="form-check-label" for="">
            توضیحات بالا را مطالعه کردم و با قوانین سیستم سازماندهی دانشجویان متقاضی خوابگاه موافقم. </label>

        <!-- <input type="submit" name="sendNewSms" class="inputButton" id="sendNewSms" value=" Send "disabled /> -->
        <button class ="btn btn-primary mx-3"type="submit" name="sendNewSms" class="inputButton" id="sendNewSms" value=" Send" disabled onclick="location.href='{% url 'pre-exam' %}'">مرحله بعد  </button>
        </div>
      </div>
    </div>
    <script>
      var checker = document.getElementById('checkme');
      var sendbtn = document.getElementById('sendNewSms');
      checker.onchange = function () {
        sendbtn.disabled = !this.checked;
      };
    </script>
    <!-- <div class="d-flex justify-content-center">
      <div class="card text-start col-4 text-center">
        <div class="card-body">
          <h4 class="card-title">ورود به صفحه آزمون</h4>
          <p class="card-text">این آزمون برای بررسی شرایط شما و ارزیابی آن برای سازماندهی موثر تر دانشجویان طراحی شده
            است</p>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="button" aria-pressed="false"
          autocomplete="off">ورود به آزمون</button>
      </div>
    </div> -->

  </div>

{% endblock %}
