{% extends 'base.html' %}

{% block content %}

      <div class="container mt-5 ">
        <h3 class="mb-5"> هر آنچه در مورد خوابگاه کوثر باید بدانید:</h3>
        <p class="mytext mb-5">
          این ساختمان در سال 1385 به سرای دانشجویی تغییر کاربری داده است. مجتمع کوثر بزرگترین مجتمع سرای دانشجویی خواهران دانشگاه در شهرستان سمنان است که در میدان کوثر، بلوار قائم، بلوار دانشجو و در پردیس شماره 3 دانشگاه قرار دارد. این مجتمع شامل سه ساختمان (کوثر۱، کوثر2 و کوثر3 ) ، یک سالن ورزشی، کتابخانه، نمازخانه، سایت رایانه و... است.

          لازم به ذکر است این مجتمع به شبکه اینترنت بی سیم (وایرلس) متصل و کلیه اتاق های دانشجویان مجهز به یک دستگاه یخچال جداگانه است.
        </p>

        <button style="margin: 10px;" onclick="history.back()" type="button" class="btn btn-primary" data-bs-toggle="button" aria-pressed="false" autocomplete="off">بازگشت به صفحه قبل  </button>
      
      </div>

{% endblock %}