{% extends 'base.html' %}

{% block content %}

      <div class="container mt-5 ">
        <!-- <div class="border p-5">
          <div class="form-check">
            <p>
               1-
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون?</p>
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
            <label class="form-check-label" for="exampleRadios1">
              Default radio
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
               default radio
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
            <label class="form-check-label" for="exampleRadios3">
              default radio
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
            <label class="form-check-label" for="exampleRadios3">
              default radio
            </label>
          </div>
        </div> -->
        <div class="col-12 d-flex justify-content-center text-center ">
          <div class="col-4 bg-light mt-5">
            <div class="card border-dark">
              <div class="card-body">
                <h4 class="card-title">  از تایپ شخصیتی خود آگاه هستم</h4>
                  <p class="card-text">
                    در
                   آزمون MBTI
                    شرکت کرده ام و تایپ شخصیتی خود را می دانم (تایپ شخصیتی خود را از منوی زیر انتخاب کنید و بر روی دکمه ثبت
                    کلیک کنید.)
                  </p>
                  <form method="POST" action="../submit_user_type/">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="" class="form-label myfrom"></label>
                      <select class="form-select form-select-lg" name="personalType" id="">
                        <option selected>انتخاب کنید</option>
                        <option value="ESTJ">ESTJ</option>
                        <option value="ENTJ">ENTJ</option>
                        <option value="ESFJ">ESFJ</option>
                        <option value="ENFJ">ENFJ</option>
                        <option value="ISTJ">ISTJ</option>
                        <option value="ISFJ">ISFJ</option>
                        <option value="INTJ">INTJ</option>
                        <option value="INFJ">INFJ</option>
                        <option value="ESTP">ESTP</option>
                        <option value="ESFP">ESFP</option>
                        <option value="ENTP">ENTP</option>
                        <option value="ENFP">ENFP</option>
                        <option value="ISTP">ISTP</option>
                        <option value="ISFP">ISFP</option>
                        <option value="INTP">INTP</option>
                        <option value="INFP">INFP</option>
                      </select>
                    </div>
                    <button class="btn btn-primary card-link" type="submit"> ثبت </button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-4 bg-light mt-5">
            <div class="card border-dark h-100">
              <div class="card-body ">
                <h4 class="card-title"> تایپ شخصیتی خود را نمی دانم</h4>
                 <p class="card-text"> برای شروع آزمون سامانه بر روی دکمه ورود به صفحه آزمون کلیک کنید  در غیر این صورت در آزمون اصلی MBTI شرکت کنید و سپس تایپ شخصیت خود را ثبت کنید.</p>
                 <div class="mytest"> 
                  <a class ="nav-link" href="../mbti_test/"><button class="btn btn-primary top-50 mytest">ورود به صفحه آزمون سامانه</button></a>
                  <a class ="nav-link" href="https://www.16personalities.com/fa/"><button class="btn btn-primary card-link"> شرکت در آزمون اصلی MBTI</button></a>
                 </div>
              </div>
            </div>
          </div>
        </div>

{% endblock %}
